.header {

    font-weight: bold;
    text-align: center;

    padding: 50px;
}

.qBox {
    font-weight: bold;
    padding: 20px;
}

.answerBox {
    
    padding: 30px;

}
.answerList {
    margin-right: 70px;
}

